<h2> Select your year, make, model and trim. </h2>

<mat-form-field>
  <mat-select placeholder="Select a year">
    <mat-option *ngFor="let year of years" [value]="year.year">{{ year.year }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Select a make" (change)="getModels($event)">
    <mat-option *ngFor="let brand of brands" [value]="brand">{{ brand.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Select a model">
    <mat-option *ngFor="let model of models" [value]="model.name">{{ model.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
