<h1> Base Class Finder </h1>

<div id="component">
<app-car-data></app-car-data>
</div>

<div id="text">
<p><b>Hello World</b></p>
<p>Thank you for visiting the site. </p>
<p>This tool is meant to help you find your base class for autox based on SCCA rules, I have always found that process to be cumbersome so I created this tool to help the community.
I have tried to simplify the user experience as much as I can, the design might change based on your feedback.</p>
<p>I am not a developer by trade, but I do work in software QA. I learned what I needed in order to make this tool and I'm using it as a learning opportunity.
  If you're a developer and want to contribute send me a message and I'll share it with you (APIs were written in Nodejs\Javascript and the front end using Angular 5). </p>
<p>I am linking this to my personal site, but the actual app lives in a different environment. At the moment that environment runs on a free instance, which means that the app
  goes to sleep after a certain period of inactivity. If it took a while for the link to load, this is why. The app will wake up when someone tries to use it. If the tool is well received, I'll eventually look into paying for the
  hosting so it runs uninterrupted.</p>

<p><b>Design</b></p>
<p>- The design is based on my user experience when browsing the PDF for the Rule Book: search for a brand, find your
model, trim and\or year (when available), then find your class.</p>
<p>- A design where you select a year, then you get available brands for that year, etc. was considered but it was
discarded because it implies a different data structure that is not easily available. Also, note that up to this point
the SCCA has not provided any input, feedback or support for this tool. It is not official in any way. All the data
has been extracted manually from the SCCA Rule Book PDF and manipulated to suit the purpose of this tool and my current knowledge of database management.</p>
<p>- There might be some spelling mistakes or other incorrect information. If you find something, please send me a comment in the link below.</p>

<p><b>Improvements</b></p>
<p>I appreciate any feedback you can provide, ultimately this will help you. However, before you submit any comments please see the improvements that are currently planned:</p>

<p>- Update data to be current (at the moment, it's valid up to mid 2016).</p>
<p>- Given the current design, if a model only has 1 trim or year available then present the options and the class. Do not make the user click only 1 option to get the result.</p>
<p>- Add data for excluded vehicles.</p>
<p>- Add an option for modified classes (based on the BASE class and/or other criteria).</p>
<p>- Improved navigation using only the keyboard.</p>
<p>- Make sure the site is mobile friendly.</p>
<p>- Review and update model\trim information. Right now you will see either (other) or (NOC) when there is no specific data provided in the Rule Book, I'd like to make this consistent.</p>
<p>- Potentially get support from the SCCA to handle\maintain the data, provide updates and manage rules for the modified classes.</p>

<form>
<input type="button" value="Submit feedback" onclick="window.location.href='https://peachesmotorsports.com/contact'" />
</form>
</div>
